html {
    --lumo-primary-text-color: black;
    --vaadin-button-background: #E8E8E8;
    --vaadin-input-field-background: #E8E8E8;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, .06) 2px, transparent 2px), linear-gradient(90deg
    , rgba(0, 0, 0, .06) 2px, transparent 1px), linear-gradient(rgba(0, 0, 0, .03) 1px, transparent 1px), linear-gradient(90deg
    , rgba(0, 0, 0, .1) 1px, transparent 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    background-attachment: fixed;
}

#container-lv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#content-lv {
    width: 40vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: var(--lumo-box-shadow-l);
    border-radius: var(--lumo-border-radius-l);
    background-color: white;
}

#logo-lv {
    font-weight: 500;
    font-size: 4rem;
    margin: 2rem;
    text-align: center;
}

#slogan-lv {
    font-weight: 450;
    text-align: center;
    padding: 2rem 0;
    margin: 0 2rem;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#auth0-login-link-lv {
    text-decoration: none;
    font-size: 2rem;
    color: black;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0;
}

#auth0-login-link-lv:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.grid {
    min-height: 50vh;
}

.diary-content {
    border-radius: var(--lumo-border-radius-l);
    background-color: rgba(232, 232, 232, 0.6);
    padding: 1rem;
    min-height: 40vh;
    width: 100%;
    color: black;
    font-size: 1.2rem;
}

#action-buttons-layout {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: baseline;
}

.backbutton-container {
    display: flex;
    width: 100%;
}

.add-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: baseline;
}

.main-content-container {
    max-width: 80vw;
    margin: auto;
}

#main-header {
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 100vw;
    box-sizing: border-box;
}

#main-nav {
    flex-grow: 5;
    display: flex;
    justify-content: center;
}

#nav-list {
    display: flex;
    padding-left: 20vw;
    gap: 10vw;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}

.nav-link:hover {
    text-decoration: none;
}

#logout-button {
    cursor: pointer;
}

#main-logo {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

vaadin-button {
    cursor: pointer;
}

vaadin-grid::part(body-cell first-column-cell) {
    background-color: #f5f5f5;
    border-radius: var(--lumo-border-radius-l);
    margin: 2px 4px 2px 4px;
}

vaadin-grid::part(body-cell first-column-cell):hover {
    background-color: #E8E8E8;
    cursor: pointer;
    border-radius: var(--lumo-border-radius-l);
}

#user-info {
    color: black;
    font-size: 1.2rem;
    font-weight: 480;
    align-self: end;
}

#user-info-title {
    color: black;
    font-size: 1rem;
    font-weight: bold;
    align-self: end;
}

#user-profile {
    margin: 0 2rem;
    padding: 0;
    gap: 0;
    width: 20% !important;
    overflow: hidden;
}

.grid-container {
    border-radius: var(--lumo-border-radius-l);
    box-shadow: var(--lumo-box-shadow-s);
    min-height: 50vh;
    width: 100%;
    overflow: hidden;
}

