#table {
    border-radius: var(--lumo-border-radius-l);
}

#vaadin-grid-cell-0:hover {
    background-color: white !important;
    cursor: default !important;
}

#vaadin-grid-cell-0 {
    background-color: white !important;
    border-radius: 0 !important;
    margin: 0 !important;
}
